.App {
  text-align: center;
  width: 100%;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
