* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 7rem;
}
h4{
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
}